:root {
    // COLORS
    --kn-color-default: #a7a7a7;
    --kn-color-primary: #363636;
    --kn-color-secondary: #bbd6ed;
    --kn-color-fab: #c41b87;
    --kn-color-disabled: #a0a0a0;
    --kn-color-selected: #deecf8;
    --kn-color-borders: #cccccc;
    --kn-color-success: #74a748;
    --kn-color-info: #329ef4;
    --kn-color-warning: #fbc53d;
    --kn-color-warning-alpha: #fbc53d84;
    --kn-color-error: #d32f2f;

    // FONTS
    --kn-font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
    --kn-font-size: 14px;
    --kn-font-text-light-color: #ffffff;

    // APP
    --kn-app-background-color: #ffffff;

    // BREADCRUMBS
    --kn-breadcrumb-height: 38px;
    --kn-breadcrumb-items-color: #000000de;
    --kn-breadcrumb-items-border: 0;
    --kn-breadcrumb-items-padding: 0px;
    --kn-breadcrumb-selected-item-color: #000000de;
    --kn-breadcrumb-selected-item-border: 0;
    --kn-breadcrumb-toolbar-items-color: #fff;
    --kn-breadcrumb-toolbar-items-border: 0;
    --kn-breadcrumb-toolbar-items-padding: 0px;
    --kn-breadcrumb-toolbar-selected-item-color: #fff;
    --kn-breadcrumb-toolbar-selected-item-border: 0;
    --kn-breadcrumb-background: #f3f3f3;

    // BUTTONS
    --kn-button-border-radius: 2px;
    --kn-button-primary-background-color: var(--kn-color-primary);
    --kn-button-primary-color: #ffffff;
    --kn-button-primary-hover-background-color: #6191bb;
    --kn-button-primary-hover-color: #ffffff;
    --kn-button-secondary-background-color: #a7a7a7;
    --kn-button-secondary-color: #ffffff;
    --kn-button-secondary-hover-background-color: #bfbfbf;
    --kn-button-secondary-hover-color: #43749e;
    --kn-button-icon-color-default: #a7a7a7;
    --kn-button-dark-color: #43749e;
    --kn-button-light-color: #ffffff;
    --kn-button-fab-background-color: #c41b87;
    --kn-button-fab-color: #fff;
    --kn-button-fab-hover-background-color: #b95d97;
    --kn-button-fab-hover-color: #fff;

    // INPUTS
    --kn-input-checkbox-selected-background: #ce065180;
    --kn-input-checkbox-selected-color: var(--kn-color-fab);

    // LIST
    --kn-list-border-color: #cccccc;
    --kn-list-item-hover-background-color: #bbd6ed60;
    --kn-list-item-selected-background-color: #bbd6ed;
    --kn-list-item-text-secondary-color: #a7a7a7;
    --kn-list-item-text-secondary-font-size: 0.8rem;
    --kn-list-item-alternated-background-color: #dcdcdc;
    --kn-list-item-height: 45px;

    // MENU
    --kn-mainmenu-background-color: #363636;
    --kn-mainmenu-hover-background-color: #555555;
    --kn-adminmenu-hover-background-color: #c8c8c8;
    --kn-mainmenu-badge-background-color: #c41b87;
    --kn-mainmenu-badge-color: #fff;
    --kn-mainmenu-box-shadow: 0px 2px 4px #484848;
    --kn-mainmenu-highlight-color: #c41b87;
    --kn-mainmenu-avatar-background-color: transparent;
    --kn-mainmenu-avatar-border-radius: 0;
    --kn-mainmenu-avatar-border-color: transparent;
    --kn-mainmenu-icon-color: #fff;
    --kn-mainmenu-panel-color: #f8f8f8;
    --kn-mainmenu-panel-text-color: #292929;
    --kn-mainmenu-profile-box-shadow: -3px 0 4px 0 black;
    --kn-mainmenu-width: 58px;

    // PAGINATOR
    --kn-paginator-background-color: #bbd6ed90;
    --kn-paginator-color: var(--kn-color-primary);

    // PROGRESS BAR
    --kn-progress-bar-background-color: rgba(#bbd6ed, 0.3);
    --kn-progress-bar-foreground-color: var(--kn-color-fab);

    // TABLE
    --kn-table-selected-background-color: #0000000a;

    // TOOLBAR
    --kn-toolbar-height: 2.5rem;
    --kn-toolbar-padding: 0 0.75rem;
    --kn-toolbar-font-weight: 400;
    --kn-toolbar-font-size: 1rem;

    --kn-toolbar-default-background-color: #a7a7a7;
    --kn-toolbar-default-color: #ffffff;

    --kn-toolbar-primary-background-color: #3f3f3f;
    --kn-toolbar-primary-color: #ffffff;

    --kn-toolbar-secondary-background-color: #929292;
    --kn-toolbar-secondary-color: #000000;

    // TREE
    --kn-tree-border-color: #cccccc;
    --kn-tree-border-radius: 4px;
    --kn-tree-selected-background-color: #bbd6ed90;
    --kn-tree-selected-color: var(--kn-color-primary);

    //MESSAGES
    --kn-message-success-background-color: #c8e6c9;
    --kn-message-success-color: #1b5e20;
    --kn-message-info-background-color: #b3e5fc;
    --kn-message-info-color: #01579b;
    --kn-message-warning-background-color: #ffecb3;
    --kn-message-warning-color: #7f6003;
    --kn-message-error-background-color: #ffcdd2;
    --kn-message-error-color: #b71c1c;
    --kn-message-padding: 0.3rem 0.5rem;
    --kn-message-font-size: 0.9rem;
    --kn-message-border-radius: 4px;

    //hint card
    --kn-hintcard-background-color: #72aadb;
    --kn-hintcard-title-color: #000;
    --kn-hintcard-text-color: #000;
    --kn-hintcard-icon-color: #000;

    //parameter sidebar
    --kn-param-sidebar-expanded-icon: fa fa-angles-right;
    --kn-param-sidebar-collapsed-icon: fa fa-angles-left;
    --kn-param-sidebar-icon-background-color: #ffffff;
    --kn-param-sidebar-icon-width: 3rem;
    --kn-param-sidebar-icon-opacity: 50%;
    --kn-param-sidebar-even-alternate-rows: #ffffff;
    --kn-param-sidebar-odd-alternate-rows: #dcdcdc;
    --kn-param-sidebar-icon-background-color-expanded: #ffffff;
    --kn-param-sidebar-icon-text-color-expanded: #c41b87;
    --kn-param-sidebar-icon-background-color-collapsed: #ffffff;
    --kn-param-sidebar-icon-text-color-collapsed: #c41b87;
    --kn-param-sidebar-icon-hover-background-color: #ffffff;
    --kn-param-sidebar-icon-hover-text-color: #c41b87;
    --kn-param-sidebar-icon-radius: 50%;

    //chatbot
    --kn-chatbot-color-background: #682c5264;

    //DOCUMENTATION
    --kn-documentation-drawer-color-background: #ffffff;
    --kn-documentation-drawer-color: #000000;
    --kn-documentation-drawer-color-active: #c41b87;
    --kn-documentation-drawer-font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
    --kn-documentation-drawer-font-size: 13px;
    --kn-documentation-content-background: linear-gradient(to bottom, #d28fba 0px, #d28fba 50px, transparent 50px);
    --kn-documentation-content-color: #000000;
    --kn-documentation-content-font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
    --kn-documentation-content-font-size: 14px;
    --kn-documentation-content-heading-color: #000000;
    --kn-documentation-content-code-background: #dddddd;
    --kn-documentation-content-code-color: #2d2c2c;
    --kn-documentation-content-code-border-radius: 4px;
    --kn-documentation-content-link-color: #c41b87;
}
